@model LearnOnDemand.Models.OrganizationModel

@{
    ViewData["Title"] = "Details";
}

<h3>Organization Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal" style="float:left;padding-top:70px;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
    </dl>
    <img style="float:left;margin-left:100px;" src="https://maps.googleapis.com/maps/api/staticmap?center=@(Model.Zip)&zoom=8&size=600x300&maptype=roadmap&key=AIzaSyAyF-WMJQoSeP1xXwiO69MWhtSf-XDeJ-Q" />
    <div style="clear:both;"></div>
</div>
<div>
    @Html.ActionLink("Edit Organization", "Edit", new { id = Model.Id }) |
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

<hr />
<h4>Organization Users</h4>

<p>
    <a asp-action="Create" asp-controller="User" asp-route-id="@Model.Id" style="margin-left:10px;" class="btn btn-default">New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Users.SingleOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.SingleOrDefault().Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                @*<td>
                    <img style="border-radius: 50%;" src="@item.Avatar" />
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "User", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "User", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "User", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
